:root {
  --primary-brand-color: #4d5ae5;
  --active-link-color: #404bbf;
  --headings-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-mode-background: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-background: #2e2f42;
  --primary-background-color: #ffffff;
  --modal-background: #fcfcfc;
  --primary-font: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 24px auto;
}
.logo-studio {
  color: var(--headings-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin: 24px auto;
}
footer .logo-studio {
  color: var(--light-mode-background);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/**------------------- Navigation Pannel -----------*/
.navigation {
  margin: 24px auto;
}
.navigation-link {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-link-color);
}

/**------------------- Contacts ----------------- */
.address {
  font-style: normal;
  margin: 24px auto;
}
.address .list {
  list-style: none;
}
.address .link {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.address .link:hover,
.address .link:focus {
  color: var(--active-link-color);
}

/**----------------- Section 1 ----------------*/
.solutions {
  background-color: #2e2f42;
  padding: 188px 472px 292px 472px;
}
.hero-header {
  color: var(--primary-background-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
}
.solutions .order-button {
  background: var(--primary-brand-color);
  color: var(--primary-background-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
}
.solutions .order-button:hover,
.solutions .order-button:focus {
  background-color: #404bbf;
}
/**----------------------- Section 2 ----------------*/
.advantages {
  padding: 120px 156px;
}
.advantages-header {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.advantages-description {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/**--------------------- Section 3 -----------------*/
.works {
  padding-bottom: 120px;
}

.works-header {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  max-width: 324px;
  max-height: 40px;
  margin: 0 auto;
  padding-bottom: 72px;
}

/**--------------- Section 4 -------------*/
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}
.team-header {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}
.team-card {
  background-color: #ffffff;
}
.team-name {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-position {
  color: var(--text-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

/**------------------ Footer ----------------------*/
.footer {
  background-color: #2e2f42;
}
.motto {
  color: var(--light-mode-background);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-bottom: 100px;
  max-width: 264px;
}

.footer-logo {
  padding-top: 102px;
  padding-bottom: 18px;
}
/**--------------------- Portfolio ----------------*/
.filter-list {
  padding-top: 96px;
  padding-bottom: 72px;
}
.filter-button {
  background: var(--light-mode-background);
  color: var(--primary-brand-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.link {
  text-decoration: none;
}
.projects-header {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-top: 32px;
  padding-bottom: 8px;
}
.project-type {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 32px;
}
.projects-item {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--primary-background-color);
}
.projects-list {
  margin-bottom: 120px;
}
/*! Reset Styles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/*! Reset Styles */

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.header {
  padding-top: 24px;
  padding-bottom: 32px;
  margin: 0 auto;
}
